footer {
background-color: var(--navbar-color);
border-top: 1px solid var(--light-border-color);
padding: 1.5rem 0;
font-family: var(--post-font-family);
margin-top: 3rem;
}
  
  footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  footer nav {
    display: flex;
    gap: 0.25rem;
    margin: 0 1rem;
  }

  @media only screen and (max-width: 1400px) {
    footer section {
      text-align: center;
    }
    
    footer nav {
      justify-content: center;
    }
  }