{% extends "base.html" %}

{% block main_content %}
    <style>
        h1 {
            font-size: 3rem;
            line-height: 1.5;
        }

        h2 {
            font-size: 2.5rem;
            line-height: 1.3;
        }

        h3 {
            font-size: 2rem;
            line-height: 1.3;
        }

        h4 {
            font-size: 1.5rem;
            line-height: 1.3;
        }

        h5 {
            font-size: 1rem;
            line-height: 0.5;
        }
        
        span.keyword {
            color: #ff6d00;
        }

        div.image {
            text-align: center;
        }

        .tooltip {
            position: relative;
        }

        .tooltip-image {
            display: none;
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 200px;
            background-color: #171717;
            border: 1px solid black;
        }

        .tooltip:hover .tooltip-image {
            display: block;
        }

        h2::before {
            content: "";
            display: block;
            height: 1px;
            background-color: #35393b;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }

    </style>
    {{ post_macros::content(page=page)}}
{% endblock main_content %}

{% block giscus %}
<noscript>Please enable JavaScript for accessing the comments</noscript>
<script src="https://giscus.app/client.js"
        data-repo="marcpinet/marcpinet.github.io"
        data-repo-id="R_kgDOJDP6MA"
        data-category="Q&A"
        data-category-id="DIC_kwDOJDP6MM4CUiRW"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark_dimmed"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
<script>
function update() {
    const islight = document.getElementById("themeswitch").checked;
    const theme = islight ? 'light' : 'dark_dimmed';

    const message = { setConfig: { 	theme: theme } };
    const iframe = document.querySelector('.giscus-frame');
    iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
}
document.getElementById('themeswitch').addEventListener('click', () => setTimeout(update, 100)); // hack since callback order is undefined
window.addEventListener('load', update);
</script>
{% endblock giscus %}